=purple_btn($w_size, $h_size)
    width: $w_size
    height: $h_size
    display: flex
    justify-content: center
    align-items: center
    outline: none
    cursor: pointer
    border-radius: 40px
    background: linear-gradient(90.00deg, rgb(129, 118, 175),rgb(192, 183, 232) 100%)
    border: 2px solid rgb(129, 118, 175)
    color: rgb(52, 48, 69)
    font-size: 12px
    font-weight: 700
    text-decoration: none


=header_section($left)
    .header_section_wrap
        display: flex
        justify-content: space-between
    .header_section_wrap_text
        position: relative
    .header_section_wrap_title
        color: rgb(255, 255, 255)
        font-size: 36px
        font-weight: 700
    .header_section_wrap_descr
        color: rgb(255, 255, 255)
        font-size: 36px
        font-weight: 300
        line-height: 44px
    .header_section_wrap_arrow
        position: absolute
        top: 14px
        left: $left
        height: 100px
    .header_section_wrap_describe
        width: 652px
        color: rgb(255, 255, 255)
        font-size: 16px
        font-weight: 400
        line-height: 20px

=form_pattern($w_size, $h_size)
    width: $w_size
    height: $h_size
    margin: 0 0 30px 10px
    border: 1px solid rgb(255, 255, 255)
    border-radius: 40px
    background-color: transparent
    padding: 0 42px 0 42px
    color: rgb(255, 255, 255)
    font-size: 14px
    font-weight: 400
    line-height: 17px
    outline: none
    &::placeholder
        color: rgb(255, 255, 255)
        font-size: 14px
        font-weight: 400

=section_size
    width: 1440px
    padding: 50px 84px 61px 84px
    margin: 0 auto

