=purple_btn($w_size, $h_size)
    width: $w_size
    height: $h_size
    outline: none
    cursor: pointer
    border-radius: 40px
    background: linear-gradient(90.00deg, rgb(129, 118, 175),rgb(192, 183, 232) 100%)
    border: 2px solid rgb(129, 118, 175)
    color: rgb(52, 48, 69)
    font-size: 12px
    font-weight: 700
    text-align: center

